<md-card *ngIf="contactoOriginal">
    <md-card-title>
        Edición del contacto
    </md-card-title>

    <md-card-content>
        <form novalidate [formGroup]="form" (ngSubmit)="onGuardar()">
            <md-input-container>
                <input mdInput placeholder="Nombre" formControlName="nombre" type="text">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Apellido" formControlName="apellidos" type="text">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Direccion" formControlName="direccion" type="text">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Telefono" formControlName="telefono" type="text">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Email" formControlName="email" type="text">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Empresa" formControlName="empresa" type="text">
            </md-input-container>
            <button type="submit" md-button name="button">Guardar</button>
            <button type="button" md-button (click)="onCancelar" name="button">Cancelar</button>
        </form>
    </md-card-content>
</md-card>
