<md-toolbar color="primary">
    <span>{{title}}</span>
    <span></span>
    <span>angularFire2</span>
</md-toolbar>


<!-- <md-card>
        <md-select placeholder="Ciudad" (change)="onSelect($event)">
            <md-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                {{ ciudad }}
            </md-option>
        </md-select>
    </md-card>-->

<md-card>
    <table class="bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Apellido</th>
                <th>eMail</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let contacto of contactos">
                <td>{{contacto.nombre}}</td>
                <td>{{contacto.apellidos}}</td>
                <td>{{contacto.email}}</td>
                <td>{{contacto.direccion}}</td>
                <td><button (click)="onClick(contacto)">Mostrar</button></td>
                <td>
                    <button type="button" md-button (click)="onEditar(contacto)" color="accent" name="button">Editar</button>
                    <button type="button" md-button (click)="onEliminar(contacto)" color="warm" name="button">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" (click)="onAgregar()" name="button">Agregar</button>

</md-card>

<app-detalles [contacto]="contacto" (cerrar)="cerrarDetalles()"></app-detalles>

<app-editar [contacto]="contactoEditar" (cerrar)="cerrarEdicion()"></app-editar>
<app-agregar [mostrar]="contactoAgregar" (cerrar)="contactoAgregar = false"></app-agregar>